<?xml version="1.0"?>
<config>
    <modules>
        <Westum_Deals>
            <version>1.1.1</version>
        </Westum_Deals>
    </modules> 
    <frontend>
        <translate>
            <modules>
                <Westum_Deals>
                    <files>
                        <default>Westum_Deals.csv</default>
                    </files>
                </Westum_Deals>
            </modules>
        </translate>
        <routers>
            <westum_deals>
                <use>standard</use>
                <args>
                    <module>Westum_Deals</module>
                    <frontName>westum_deals</frontName>
                </args>
            </westum_deals>
        </routers>
        <layout>
            <updates>
                <westum_deals>
                    <file>westum_deals.xml</file>
                </westum_deals>
            </updates>
        </layout>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <magalter_dealsposition>
                        <class>westum_deals/observer</class>
                        <method>controller_action_layout_generate_blocks_after</method>
                    </magalter_dealsposition>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <core_block_abstract_to_html_before>
                <observers>
                    <magalter_blockabstract>
                        <class>westum_deals/observer</class>
                        <method>core_block_abstract_to_html_before</method>
                    </magalter_blockabstract>
                </observers>                
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <magalter_blockabstract_after>
                        <class>westum_deals/observer</class>
                        <method>core_block_abstract_to_html_after</method>
                    </magalter_blockabstract_after>
                </observers>                
            </core_block_abstract_to_html_after>
             <catalog_product_get_final_price>
                <observers>
                    <magalter_product_get_finalprice>
                        <class>westum_deals/observer</class>
                        <method>prepareCartPrice</method>
                    </magalter_product_get_finalprice>
                </observers>
            </catalog_product_get_final_price>
        </events>
    </frontend>
    <admin>
        <routers>
            <westum_deals_admin>
                <use>admin</use>
                <args>
                    <module>Westum_Deals</module>
                    <frontName>westum_deals_admin</frontName>
                </args>
            </westum_deals_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <westum_deals>
                <title>Deal Of The Day</title>
                <sort_order>10</sort_order>
                <children>
                    <westum_deals>
                        <title>Deals</title>
                        <sort_order>5</sort_order>
                        <action>westum_deals_admin/adminhtml_deals</action>
                    </westum_deals>                              
                    <configuration>
                        <title>Configuration settings</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/system_config/edit/section/westum_deals</action>
                    </configuration>
                </children>
            </westum_deals>
        </menu>
        <translate>
            <modules>
                <Westum_Deals>
                    <files>
                        <default>Westum_Deals.csv</default>
                    </files>
                </Westum_Deals>
            </modules>
        </translate>
        <layout>
            <updates>
                <westum_deals>
                    <file>westum_deals.xml</file>
                </westum_deals>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <westum_deals>
                            <title>Deal Of The Day</title>
                            <sort_order>10</sort_order>
                            <children>
                                <westum_deals>
                                    <title>Deals</title>
                                    <sort_order>5</sort_order>
                                    <action>westum_deals_admin/adminhtml_deals</action>
                                </westum_deals>                              
                                <configuration>
                                    <title>Configuration settings</title>
                                    <sort_order>10</sort_order>
                                    <action>adminhtml/system_config/edit/section/westum_deals</action>
                                </configuration>
                            </children>
                        </westum_deals>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <westum_deals>
                                            <title>Westum - Deals</title>
                                        </westum_deals>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <blocks>
            <westum_deals>
                <class>Westum_Deals_Block</class>
            </westum_deals>
        </blocks>
        <helpers>
            <westum_deals>
                <class>Westum_Deals_Helper</class>
            </westum_deals>
        </helpers>
        <models>
            <westum_deals>
                <class>Magalter_Deals_Model</class>
                <resourceModel>westum_deals_mysql4</resourceModel>
            </westum_deals>
            <westum_deals_mysql4>
                <class>Westum_Deals_Model_Mysql4</class>
                <entities>
                    <deals>
                        <table>westum_deals</table>
                    </deals>
                    <deals_store>
                        <table>westum_deals_store</table>
                    </deals_store>
                </entities>
            </westum_deals_mysql4>
        </models>
        <template>
            <email>
                <magalter_deals_emails_closed translate="label" module="westum_deals">
                    <label>Notification about closed deals</label>
                    <file>magalter_deals/closed.html</file>
                    <type>html</type>
                </magalter_deals_emails_closed>
                <magalter_deals_emails_new translate="label" module="westum_deals">
                    <label>Notification about new deals</label>
                    <file>magalter_deals/new.html</file>
                    <type>html</type>
                </magalter_deals_emails_new>
            </email>
        </template>
        <resources>
            <westum_deals_setup>
                <setup>
                    <module>Westum_Deals</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </westum_deals_setup>
            <westum_deals_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </westum_deals_write>
            <westum_deals_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </westum_deals_read>
        </resources>       
    </global>  
     <crontab>
        <jobs>
            <westum_deals_crontab_new>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>westum_deals/cron::sendNewDeals</model>
                </run>
            </westum_deals_crontab_new>
          </jobs>
          <jobs>
            <westum_deals_crontab_closed>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>westum_deals/cron::sendClosedDeals</model>
                </run>
            </westum_deals_crontab_closed>
        </jobs>
    </crontab>
    <default>
        <westum_deals>             	 
			<configuration>
				<enable>1</enable>	
				<product_price>1</product_price>
                <livecounter>1</livecounter>
                <add_to>1</add_to>               
                <display_future>1</display_future>
			</configuration>
        </westum_deals>
   </default>
</config>