<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Puranatura_Core>
            <version>0.0.2</version>
        </Puranatura_Core>
    </modules>
    <global>
        <models>
        	<puranatura_core>
		        <class>Puranatura_Core_Model</class>
			</puranatura_core>
        </models>
        <resources>
	    	<puranatura_core_setup>
	        	<setup>
	            	<module>Puranatura_Core</module>
	                <class>Mage_Catalog_Model_Resource_Setup</class>
	            </setup>
	         </puranatura_core_setup>
        </resources>
        <helpers>
	        <puranatura_core>
	            <class>Puranatura_Core_Helper</class>
	        </puranatura_core>
	    </helpers>
        <blocks>
        	<puranatura_core>
	            <class>Puranatura_Core_Block</class>
	        </puranatura_core>
	    </blocks>
    </global>
    <frontend>
    	<events>
        	<controller_action_predispatch_catalog_product_view>
                <observers>
                    <westum_cartpopup>
                        <class>puranatura_core/observer</class>
                        <method>catalog_product_view_predispatch</method>
                    </westum_cartpopup>
                </observers>
            </controller_action_predispatch_catalog_product_view>                
     	</events>
    </frontend>
</config>