<?xml version="1.0"?>
<config>
    <modules>
        <Westum_Followupemail>
            <version>3.5.8</version><platform>ce</platform>
        </Westum_Followupemail>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Westum_Followupemail>
                    <files>
                        <default>Westum_Followupemail.csv</default>
                    </files>
                </Westum_Followupemail>
            </modules>
        </translate>
        <routers>
            <followupemail>
                <use>standard</use>
                <args>
                    <module>Westum_Followupemail</module>
                    <frontName>followupemail</frontName>
                </args>
            </followupemail>
        </routers>
        <layout>
            <updates>
                <followupemail>
                    <file>followupemail.xml</file>
                </followupemail>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <followupemail_admin>
                <use>admin</use>
                <args>
                    <module>Westum_Followupemail</module>
                    <frontName>followupemail_admin</frontName>
                </args>
            </followupemail_admin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Westum_Followupemail>
                    <files>
                        <default>Westum_Followupemail.csv</default>
                    </files>
                </Westum_Followupemail>
            </modules>
        </translate>
        <menu>
            <followupemail module="followupemail">
                <title>Follow Up Email</title>
                <sort_order>71</sort_order>
                <children>
                    <items module="followupemail">
                        <title>Manage Rules</title>
                        <sort_order>10</sort_order>
                        <action>followupemail_admin/adminhtml_rules</action>
                    </items>
                </children>
            </followupemail>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <followupemail>
                            <title>Followupemail Module</title>
                            <sort_order>10</sort_order>
                            <children>
                                <items>
                                    <title>Rules manager</title>
                                </items>
                            </children>
                        </followupemail>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <followupemail>
                                            <title>aheadWorks - Follow Up Email Section</title>
                                        </followupemail>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <followupemail>
                    <file>followupemail.xml</file>
                </followupemail>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <followupemail>
                <class>Westum_Followupemail_Model</class>
                <resourceModel>followupemail_mysql4</resourceModel>
            </followupemail>
            <followupemail_mysql4>
                <class>Westum_Followupemail_Model_Mysql4</class>
                <entities>
                    <rule>
                        <table>aw_followup_rule</table>
                    </rule>
                </entities>
            </followupemail_mysql4>
        </models>
        <resources>
            <followupemail_setup>
                <setup>
                    <module>Westum_Followupemail</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </followupemail_setup>
            <followupemail_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </followupemail_write>
            <followupemail_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </followupemail_read>
        </resources>
        <blocks>
            <followupemail>
                <class>Westum_Followupemail_Block</class>
            </followupemail>
        </blocks>
        <helpers>
            <followupemail>
                <class>Westum_Followupemail_Helper</class>
            </followupemail>
        </helpers>
    </global>
    <default>
        <followupemail>
            <general>
                <sender>general</sender>
                <keeplog>1</keeplog>
            </general>
        </followupemail>
    </default>
</config>
